{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav desktop-nav">
        <button type="button" class="greedy-nav__toggle hidden" aria-expanded="false" aria-controls="site-nav-menu">
          <span class="navicon"></span>
        </button>
        <ul id="site-nav-menu" class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li class="masthead__menu-item persist tail">
            <button class="theme-toggle js-theme-toggle" type="button" aria-label="Toggle theme">
              <i class="fa-solid fa-sun theme-icon" aria-hidden="true" title="toggle theme"></i>
            </button>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>

      <div class="mobile-nav-bar">
        <button class="theme-toggle theme-toggle--mobile js-theme-toggle" type="button" aria-label="Toggle theme">
          <i class="fa-solid fa-sun theme-icon" aria-hidden="true" title="toggle theme"></i>
        </button>
        <details class="mobile-nav">
          <summary class="mobile-nav__toggle" aria-label="Toggle navigation">
            <span class="navicon"></span>
          </summary>
          <ul class="mobile-nav__links">
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="mobile-nav__item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </details>
      </div>
    </div>
  </div>
</div>
